.footer {
  background-color: #111;
  color: #eee;
  padding-bottom: 20px;
  font-family: 'Helvetica Neue', sans-serif;
}

.newsletter {
  display: flex;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 250px; 
  overflow: hidden;
  align-items: center;
  justify-content: center;
}


.newsletter video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.newsletter .contenido {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 2rem;
}

.newsletter h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}



.footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
}


.footer-column {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-column h4 {
  font-size: 1.1em;
  margin-bottom: 15px;
  color: white;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #eee;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #c5a46d;
}


.footer-logo img {
  filter: invert(1);
}


